*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Times New Roman', Times, serif;
	}
	/* body styling*/
body{
	background: scroll;
	height: 100vh;
	display: flex;
	justify-content:center;
	align-items: center;
}

/* from container */
.form-container{
	background-color: aqua;
	padding: 30px 40px;
	border-radius: 10px;
	box-shadow: 0 7px 20px rgba(38, 202, 147, 0.473);
	width: 300px;
	text-align: center;
}

/* form heading */
.form-container h1{
margin-bottom: 20px;
color: #333;	
}

/* labels */
form label{
	display: block;
	text-align: left;
	margin-bottom: 5px;
	font-weight: bold;
	color: #555;
}
/*input fields */
form input[type="text"]
form input[type="number"]
{
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid;
border-radius: 5px;
font-size: 16px;
}

/* Input Focus Effect */
form input[type="text"]:focus,
form input[type="number"]:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* submit button */
form input[type="submit"]{
	width: 100%;
	padding: 12px;
	border: none;
	background-color: #007BFF;
	color: yellow;
	border-radius: 4px;
	font-size: 18px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

/* Hover effict */
form input[type="submit"]:hover{
	background-color: aquamarine;
}